<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/prettify.css" type="text/css" />
    <script type="text/javascript" src="/js/prettify.js"></script>
  </head>
  <body>
    <div id="top">
    </div>
    <div id="wrapper">
      <div id="banner_wrapper"><a class="ajax left" href="/"><div id="banner"><h1>JosephBurnett.com</h1></div></a></div>

      {{ content }}

      {% include footer.html %}

    </div>
  </body>
</html>
