---
layout: default
---
    <div id="navigation">
      <div id="breadcrumbs">
      <ul>
        {% for crumb in page.breadcrumbs %}
        <li class="ajax left"><a href="{{ crumb.url }}">{{ crumb.name }}</a><span class="right-arrow">&raquo</span></li>
        {% endfor %}
        <li class="current">{{ page.title }}</li>
      </ul>
      </div>
    </div>
    <div id="viewing-window">
      <div class="content static">
        <div class="page">

          {{ content }}
        
        </div>
      </div>
    </div>